body {
    background-color: #111111;
    overflow-x: hidden;
}
.container{
    text-decoration: none;
    width: 100%;
    display: flex;
    margin: 30px;
    background-color: black;
    
}
.img-logo{
    margin-left: 50px;
    width: 120px;
    height: 70px;
}
.logo{
    width: 120px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-style{
    display:inline ;
    padding-left: 20%;
    width: 100%;
}
#mobile-cta {
    display:none;
}
header div ul{
    display: flex;
}
ul li {
    display: flex;
}
.signin-button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    width: 6vw;
    height: 9vh;
    box-shadow: 1px 1px 1px rgb(250 250 252), 1px 1px 1px rgb(0 0 0),
      1px 1px 1px rgb(250 252 250);
  }
  .service-items ul li {
      display: inline-block;
  }
  .signup-button  {
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    width: 6vw;
    height: 9vh;
    box-shadow: 1px 1px 1px rgb(0 0 0), 1px 1px 1px rgb(255 255 255),
      1px 8px 10px rgb(0 0 0);
  }
  
header ul li  a{
    text-decoration: none;
    margin-left: 60px ;
    color:white;
    font-size: 30px
}

#logo-sec{
    margin-left: auto;
    margin-right: auto;
   display: block;
    width: 200px;
    height: 140px;
}
.background-pic{
    width: 90%;
    height: 600px;
    margin:5%;
    background-image: url(../image/background\ pic.png);
    background-size: cover;
    background-repeat: no-repeat;
  background-position: center;
}
.about-text{
    text-align: center; 
    color: white;
}

.text-style{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    color: white;
}

main section div ul a{
    text-align: center;
    text-decoration: none;
    font-size: 20px ;
    font-weight:bold;
    color: black;
    margin-left:40px;
    margin: 100px;
    background-color: white;
    background-size: contain, cover;
    padding:15px;
    border-radius:5px ;
}
main section div {
    color:white;
    text-align: center;
}
.item-list{
    display:flex;
    margin-left: 90px ;
    justify-content: space-around;

}

.answer-question
{
    letter-spacing: 2px;
}
.sign-me-up{
    color:white;
    text-align: center;
    
}
.footer {
    width: 85%;
    height: 8vh;
    overflow: hidden;
    border-radius: 40px 40px 0px 0px;
    background-color: black;
    position: relative;
    bottom: 0%;
    right: 35%;
    transform: translate(50%, 50%);
    box-shadow: 1px 1px 4px rgb(250 250 252), 2px 3px 1px rgb(0 0 0),
      3px 4px 1px rgb(250 252 250);
  }
  .footer {
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    height: 130px;
  }
  .twitteryoutube{
    display: flex;
    width: 40px;
    height: 40px;
  }
  .copyright {
    display: inline-block;
    /* flex-direction: column-reverse; */
    text-align: center;
    color: white;
    font-size: 12px;
    justify-content: center;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
  }
  .facebookinsta{
    display: flex;
    width: 40px;
    height: 40px;
  }
  .copyright h3{
      color: white;
  }
  
  .lineicons {
    align-items: center;
    display: flex;
    width: 15vw;
    JUSTIFY-CONTENT: space-evenly;
  }
  .images-mobile{
      display: none;
  }
  .images-desktop{
      width: 80%;
      display: flex;
      margin-left: 1%;
      justify-content: space-around;
  }
  .images-desktop img{
      width: 12%;
      height: 50px;
  }
  .font-editor{
      font-size: 24px;
  }
 /* .service-item ul {

 } */
 @media screen  and (max-width: 800px) {
    body {
        overflow-x: hidden;
      }
      #mobile-cta {
        display: flex;
    }


/* style menu */



.menu-style{
    display:inline-block ;
    /* padding-left: 20%; */
    width: 70%;
    margin: auto;
    margin-left: -170px;
    margin-top: 100px;
}
#mobile-cta {
    display:block;
    position: absolute;
    top:30px;
    right:20px;
    width: 70px;
}
header div ul{
    display: inline-block;
}
ul li {
    display: flex;
    margin-top: 20px;
}
.signin-button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    width: 120px;
    height: 9vh;
    box-shadow: 1px 1px 1px rgb(250 250 252), 1px 1px 1px rgb(0 0 0),
      1px 1px 1px rgb(250 252 250);
  }
  .service-items ul li {
      display: inline-block;
  }
  .signup-button  {
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    width: 120px;
    height: 9vh;
    box-shadow: 1px 1px 1px rgb(0 0 0), 1px 1px 1px rgb(255 255 255),
      1px 8px 10px rgb(0 0 0);
  }
  
header ul li  a{
    text-decoration: none;
    margin-left: 60px ;
    color:white;
    font-size: 30px
}
.def-website{
    background-color: black;
    opacity: 0.7;
}
.text-style
{
    font-size:11px;
}
.background-pic{
    width: 90%;
    height: 400px;
    margin:5%;
    background-image: url(../image/background\ pic.png);
    background-size: cover;
    background-repeat: no-repeat;
  background-position: center;
}
.about-text{
    text-align: center; 
    color: white;
}

.text-style{
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    color: white;
}

main section div ul a{
    text-align: center;
    text-decoration: none;
    font-size: 18px ;
    font-weight:bold;
    color: black;
    margin-left:40px;
    margin: 100px;
    background-color: white;
    background-size: contain, cover;
    padding:15px;
    border-radius:5px ;
}
.font-editor{
    font-size: 16px;
}

 .service-items ul li {
      display: inline-block;
      margin-top:40px;
     
  }
  .item-list{
    display: inline-block;
    margin-left: 20px ;
    justify-content: space-around;

}
.images-desktop{
    display: none;
}
.images-mobile{
    display: block;
}

.images-mobile  ul li ul{
    display: flex;
    width: 100%;
    margin: auto;
    margin-left: 20px;
}
.images-mobile  ul li ul li{
     width: 30%;
     margin-right: 100px;
    
}
    .images-mobile  ul li ul li img {
        width: 110px;
        /* height: ; */
        
    }
    .images-mobile ul li ul li  {
        display: inline-block;
         margin-left: 30px;
    }

    .footer {
        width: 85%;
        height: 4vh;
        overflow: hidden;
        border-radius: 40px 40px 0px 0px;
        background-color: black;
        position: relative;
        bottom: 0%;
        right: 35%;
        transform: translate(50%, 50%);
        box-shadow: 1px 1px 4px rgb(250 250 252), 2px 3px 1px rgb(0 0 0),
          3px 4px 1px rgb(250 252 250);
      }
      .footer {
        display: flex;
        flex-basis: 100%;
        justify-content: space-evenly;
        height: 100px;
      }
      .twitteryoutube{
        display: flex;
        width: 24px;
        height: 24px;
      }
      .copyright {
        display: inline-block;
        /* flex-direction: column-reverse; */
        text-align: center;
        color: white;
        font-size: 8px;
        margin-top: 12px;
        letter-spacing: 1.5px;
        justify-content: center;
        font-weight: 200;
        font-family: 'Times New Roman', Times, serif;
      }
      .facebookinsta{
        display: flex;
        width: 24px;
        height: 24px;
      }
      .copyright h3{
          color: white;
      }
      
      .lineicons {
        align-items: center;
        display: flex;
        width: 15vw;
        JUSTIFY-CONTENT: space-evenly;
      }
    




































 }
